.wrapper
{margin:0 auto;
width:1200px;
}
/*顶部导航*/
.top
{width:100%;
height: 150px;
background: url(../images/top.jpg);
position: relative;
}
.top .nav
{
position: absolute;
right: 0;
bottom: -20px;
background: url(../images/nav.png);
z-index: 99;
height: 100px;
width: 800px;
}

/*焦点图*/

.focus-pic{margin-top: 20px;}
.slider{display:none}/*用于获取更加体验*/
.focus span{width:10px;height:10px;margin-right:10px;border-radius:50%;background:#666;font-size:0}
.focus span.current{background:#fff}

a:link, a:visited, a:hover, a:active
{ color: #fff;
}


/*分类导航*/

.category{margin-top: 40px; 
	margin-left:75px;}

.category ul li{
	float: left;
	margin-right:45px;
	width: 320px; 
	text-align: center;}

.category p{font-family: "微软雅黑", "Microsoft YaHei";
	font-weight:  bold;
	font-size:18px;
	letter-spacing:0.5em;
	text-align: center;
}
.category img{
	 margin: 20px 0;
	 width: 100%;
	 height: 240px;
}
.lnk-cate{
	display: inline-block;
	zoom: 1;
	font-family: "宋体";
	padding: 7px 18px 7px 27px;
	vertical-align: top;
	margin-right: 0px;
	border-radius: 2px;
	font-size: 18px;
	letter-spacing: 0.5em;
	background: #2ecc71;
	box-shadow:3px 3px 3px #CCC;
}
.lnk-cate:hover{
	font-size: 18px;
	color: #fff;
	background: #58d68d;}

/*定制模块*/

.customize{
	font-family: "微软雅黑";
	margin: 20px 0;
	height: 350px;
	width: 100%;
	position: relative;
	text-align: left;}
.cst-info{
	position: absolute;
	right: 50px;
	bottom: 60px;
	width: 400px;}
.cst-info .cst-title{
	font-size: 30px;
	color:#4f6e85;
	font-weight: bold;
	margin-bottom: 15px;
	}
.cst-info .cst-subTitle{
	font-size: 22px;
	color: #a8aea8;
	font-weight: normal;
	line-height: 1.5em;}
.cst-info .cst-subTitleEn{
	font-size:10px;
	line-height: 18px;
	}
.lnk-custom{
	display: inline-block;
	zoom: 1;
	font-family: "微软雅黑";
	padding: 20px 48px;
	vertical-align: top;
	margin-top: 35px;
	border-radius: 4px;
	font-size: 26px;
	letter-spacing: 0.5em;
	background: #bfd741;
	box-shadow:3px 3px 3px #CCC;}

.lnk-custom:hover{
	font-size: 26px;
	color: #fff;
	background: #cae925;}